/* -- Default -- */
    * {
        margin: 0;
            padding: 0;
            border: 0;
        box-sizing: border-box;
    }

    html {
        height: 100%;
        font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
        overflow-x: hidden; /* remove blank space */
        color: #001620;
    }

    body {
        background-color: #001620;
            background-size: cover;
            background-attachment: fixed;
            background-repeat: no-repeat;
        overflow-x: hidden;
    }
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
                font-weight: 300;
                text-transform: capitalize;
        }
            h1 {
                font-size: 5rem;
                font-weight: 500;
            }

            h2 {
                font-size: 3rem;
                font-weight: 400;
            }

            h3 {
                font-size: 1.5rem;
            }

            h4 {
                text-align: left;
                font-size: 1.2rem;
            }

            h5 {
                text-align: left;
                font-weight: 1rem;
            }

            h6 {
                text-align: left;
                font-size: 0.8rem;
            }

        p {
            font-family: "Source Sans Pro", Arial, sans-serif;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
        }

        .responsive-br {
            position: absolute;
        }
/* -- / -- */



/* -- Header -- */
    header {
            width: 100%; height: 4.5rem;
            background-image: linear-gradient(180deg, #000, #404040);
    }
        header nav {
            display: flex;
                justify-content: center;
                align-items: center;
            width: 100%; height: 100%;
            cursor: pointer;
        }
            nav h1 {
                margin-right: -3.75rem; /* accomodate for letter-spacing */ 
                font-family: "Lucida Console";
                    font-size: 2rem;
                    font-weight: bold;
                    letter-spacing: 3.75rem;
                    text-transform: uppercase;
                color: transparent;
                    background-image: linear-gradient(180deg, #202020, #808080 70%);
                    background-clip: text;
            }

/* -- / -- */



/* -- Responsive -- */
    @media only screen and (max-width: 1050px) /* tablets */
                       and (max-height: 1400px)
                       and (orientation: portrait),
            
           only screen and (max-width: 1400px)
                       and (max-height: 1050px)
                       and (orientation: landscape) {
        header {
            height: 6rem;
        }
            nav h1 {
                margin-right: -3rem;
                letter-spacing: 3rem;
            }
    }

    @media only screen and (max-width: 749px) /* mobile */
                       and (max-height: 999px)
                       and (orientation: portrait), 

           only screen and (max-width: 999px)
                       and (max-height: 749px)
                       and (orientation: landscape) {
        html {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 350px) /* iPhone 5s */
                       and (orientation: portrait),
       
           only screen and (max-height: 350px)
                       and (orientation: landscape) {
    nav h1 {
        margin-right: -2.5rem;
        letter-spacing: 2.5rem;
    }
}

/* -- / -- */